.foot {
    margin-top: 50px;
}
.foot-one {
    height: 105px;
    background-color: #F5F5F5;

    border-top: 1px solid #E7E7E7;
}
.foot-one .foot-one-m {
    border-bottom: 1px solid #E7E7E7;
}
.foot-one .foot-one-m li{
    width: 238px;
    height: 105px;
    float:left;
    margin-top: 15px;
}
.foot-one .foot-one-m li span {
    display:inline-block;
    width: 47px;
    height: 47px;
    background: url(../images/npbg_1.png) 0 -1px no-repeat;
    float:left;
}
.foot-one .foot-one-m .m-h5 {
    width: 140px;
    height: 105px;
    margin-left: 11px;
    float:left;
    margin-left: 11px;
    margin-top: 5px;
    font-family: "풕턼환쥌";
}
.foot-one .foot-one-m li h5 {
    font-size:14px ;
    font-weight: 700;
    margin-bottom: 7px;
}
.foot-one .foot-one-m .kuai {
    background: url(../images/npbg_1.png) -48px -1px no-repeat;
}
.foot-one .foot-one-m .tuihuo{
    background: url(../images/npbg_1.png) -96px -1px no-repeat;
}
.foot-one .foot-one-m .service {
    background: url(../images/npbg_1.png) -144px -1px no-repeat;
}
.foot-one .foot-one-m .help {
    background: url(../images/npbg_1.png) -192px -1px  no-repeat;
}
.foot-two{
    height:225px;
    background-color: #F5F5F5;
}
.foot-two .foot-two-m {
    height: 225px;
    /*background-color: pink;*/
}
.foot-two .foot-two-m dl {
    width: 210px;
    float: left;
    font-family: "풕턼환쥌";
}
.foot-two .foot-two-m dt {
    font-weight: 700;
    color: #545454;
    font-size: 14px;
    height: 35px;
    line-height: 40px;
    font-family: "풕턼환쥌";
}
.foot-two .foot-two-m dd {
    line-height: 22px;
    font-family: "풕턼환쥌";
}
.foot-two .foot-two-m .app-down {
    width: 90px;
    height: 180px;
    float: left;
}
.foot-two .foot-two-m .app-down p {
    display: block;
    width: 90px;
    height: 35px;
    font-weight: 700;
    font-family: "풕턼환쥌";
    font-size: 14px;
    line-height: 40px;
    color: #545454;
}
.foot-three{
    /*height: 375px;*/
    background-color: #33302B;
    color:#EEEEEE;
}
.foot-three-m{
    height: 330px;
    overflow: hidden;

}
.foot-three-m .left {
    /*margin: 0 50px;*/
    height: 85px;
    float: left;
    border-right: 1px dashed #444444;
}
.foot-three-m .left1 {
    float: left;
    height: 85px;
    border-right: 1px dashed #444444;
}
.foot-three-m .left1 .pic{
    margin-left: 35px;

}
.foot-three-m .left1 .box {
    margin-left: 15px;
}
.foot-three-m .left2 {
    border: 0;
}
.foot-three-m .top {
    height: 125px;
    margin-top: 10px;
    background-color: #33302B;
    position: relative;
}
.foot-three-m .top .pic {
    margin-right: 10px;
    width: 80px;
    height: 80px;
    float:left;
}
.foot-three-m .top .box {
    float: left;
    width: 216px;
    color:#EEEEEE;
    margin-right: 50px;
}
.foot-three-m .top  h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    font-family: "풕턼환쥌";
    color:#EEEEEE;
}
.foot-three-m .top .box a h5:hover{
    text-decoration: underline;
}
.foot-three-m .top .box p{
    height: 18px;
    line-height: 18px;
}
.foot-three-m .top .box p a{
    color:#EEEEEE;
}

.foot-three-m .top .pic1 {
    width: 140px;
    height: 94px;
    background:url("../images/npbg_1.png") 1px -50px no-repeat;
    float: left;
    margin-right: 20px;
}

.foot-three-m .top i {
    display: block;
    width: 105px;
    height: 25px;
    background: url("../images/npbg_1.png") -140px -50px no-repeat;
    position: absolute;
    top: 65px;
    right: 160px;

}
.foot-three-m .bottom {
    height: 175px;
    /*background-color: greenyellow;*/
}
.foot-three-m .bottom p {
    /*margin-top: 28px;*/
    margin-bottom: 12px;
}
.foot-three-m .bottom span {
    padding :0 8px;
}
.foot-three-m .bottom .aa:hover{
    text-decoration: underline;
}
.foot-three-m .b-1 a,.foot-three-m .b-2 a{
    color: #f9f9f9;
}
.foot-three-m .b-3,.foot-three-m .b-4,.foot-three-m .b-5 {
    color: #7F8892;
}
.foot-three-m .b-3 a,.foot-three-m .b-4 a,.foot-three-m .b-5 a {
    color: #7F8892;
}
.foot-three-m .bottom p a:hover{
    text-decoration: none;
}
.foot-three-m .bottom img {
    width: 95px;
    height: 30px;
    margin-right: 15px;
    margin-bottom: 8px;
}

/*왕찣퍘챶*/
.fixed{
    width: 70px;
    height: 140px;
    position: fixed;
    bottom: 85px;
    right: 0px;
}
.fixed a{
    display: block;
    padding: 15px;
    width: 40px;
    height: 40px;
    border: 1px solid #BEC8D6;
}
.fixed .top{
    background: #fff url(../images/fixed1.png) center no-repeat;
}
.fixed .btm{
    background: #fff url(../images/fixed2.png) center no-repeat;
    border-top: 0px solid #BEC8D6;
}
.w{
    position: relative;
}
.fixed .up{
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color:#BEC8D6;
}
.fixed .down{
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color:#BEC8D6;
    border-top: 0px solid #BEC8D6;
}