body {
    background-color: #F8F8F8;
}

.top {
    height: 88px;
    /*background-color: #00ffff;*/
}
.top .logo {
    display: inline-block;
    float: left;
    width: 190px;
    height: 74px;
    margin-right: 24px;
    background: url("../images/sprite.png") no-repeat 0 0;
}
.top .goto {
    float: right;
    margin-top: 63px;
}
.top .welcome {
    line-height: 88px;
    float: left;
    color: #666;
    font-family:"微软雅黑";
    font-size: 18px;
}
